<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wit.mobileapp.socialite.Keyboard">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name">
        <activity
            android:name=".ImePreferences"
            android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_application_id" />
        </service>

        <activity
            android:name="edu.wit.mobileapp.socialite.GUI.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppCompat.Light"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.wit.mobileapp.socialite.GUI.Home"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppCompat.Light" />
        <activity
            android:name="edu.wit.mobileapp.socialite.GUI.NLU_GUI"
            android:label="@string/title_activity_nlu__gui"
            android:theme="@style/AppCompat.Light" />
        <activity
            android:name="edu.wit.mobileapp.socialite.GUI.TA_GUI"
            android:label="@string/title_activity_ta__gui"
            android:theme="@style/AppCompat.Light" />
        <activity android:name="edu.wit.mobileapp.socialite.GUI.Testing_GUI"
            android:label="@string/title_activity_testing__gui"
            android:theme="@style/AppCompat.Light"></activity>
    </application>

</manifest>